::ng-deep {
    .mat-mdc-menu-content {
        background: #3f51b5;

        .mat-mdc-menu-item  {
            .mdc-list-item__primary-text {
                color: var(--mdc-text-button-label-text-color, white);
                font-size: var(--mdc-typography-body1-font-size, 14px)
            }
            .mat-icon-no-color {
                color: var(--mdc-theme-text-primary-on-background, white);
            }
        }
    }
}

.fixed-header {
    position: fixed;
    z-index: 2;
    width: 100%;

    // background-color: #fff;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    min-width: 350px;
}

.mat-toolbar {
    z-index: 1001;
    position: relative;
}

.link-active {
    background: dodgerblue;
}

@media screen and (max-width: 500px) {
    .title { font-size: 1vw; }
    // .form-group { left: 50px; } home.component
}
