<div class="fixed-header">
    <mat-toolbar fxLayout="row" color="primary" class="mat-elevation-z6">
        <span mat-button fxFlex [routerLink]="'/'" class="title text-uppercase" role="button">Books Listing &nbsp;</span>
        <button mat-button routerLinkActive="link-active" *ngFor="let item of menuItems"
            [fxShow.lg]="item.largD"
            [fxShow.md]="item.desk"
            [fxShow.sm]="item.tab"
            [fxShow.xs]="item.mob"
            [routerLink]="item.routerLink"
        >
            <mat-icon class="">{{ item.icon }}</mat-icon>{{ item.label }}
        </button>
        <ng-container>
            <button mat-icon-button [matMenuTriggerFor]="dropMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #dropMenu="matMenu">
                <ng-container *ngFor="let item of menuItems">
                    <div
                        [fxShow.lg]="!item.largD"
                        [fxShow.md]="!item.desk"
                        [fxShow.sm]="!item.tab"
                        [fxShow.xs]="!item.mob"
                    >
                        <button mat-menu-item routerLinkActive="link-active" [routerLink]="item.routerLink">
                            <mat-icon>{{ item.icon }}</mat-icon>{{ item.label }}
                        </button>
                        <mat-divider></mat-divider>
                    </div>
                </ng-container>
                <button mat-menu-item routerLinkActive="link-active" [routerLink]="'/contact'">
                    <mat-icon>deskphone</mat-icon>Contact Us!
                </button>
                <button mat-menu-item routerLinkActive="link-active" [routerLink]="'/qq-coisa!'">
                    <mat-icon>build</mat-icon>????
                </button>
            </mat-menu>
        </ng-container>
    </mat-toolbar>
</div>
