<!--
<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
 -->

<!--
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"(closed)="events.push('close!')">
        CONTENT!CONTENT!CONTENT!CONTENT!CONTENT!CONTENT!CONTENT!
        <app-cart>
            <app-cart-item></app-cart-item>>
        </app-cart>
    </mat-sidenav>

    <mat-sidenav-content>
        <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>
        <button mat-button (click)="sidenav.toggle()">BUTTON</button>
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
-->

<mat-drawer-container *ngIf="(numberOfBookItems$ | async) as nBooks" class="container" autosize>
    <mat-drawer #sidenav fixedTopGap="50" fixedBottomGap="" fixedInViewport="true" [opened]="false" [mode]="'over'">
        <app-cart (closeEvent)="sidenav.close()"></app-cart>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-raised-button [matBadge]="69" (click)="sidenav.opened ? sidenav.close() : sidenav.open()">
            {{sidenav.opened ? 'Close' : 'Open'}} Cart
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <app-toolbar></app-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
