<mat-card class="item" appearance="outlined">
    <div class="item-description">
        <span class="number-of-items">{{cartItem?.qty}} x</span>
        <span class="name">{{cartItem?.item?.name}}</span>
        <span class="price">à {{cartItem?.item?.price | currency}}</span>
        <div class="actions">
            <button mat-icon-button (click)="increaseItemInCart()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="reduceItemInCart()">
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-icon-button (click)="removeItemFromCart()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <span class="total-price">{{cartItem?.totalPrice | currency}}</span>
</mat-card>
