::ng-deep {
    .mat-mdc-form-field,
    .mat-mdc-floating-label { font-family: "Roboto Mono", monospace; }
    .mat-mdc-form-field-input-control.mat-mdc-form-field-input-control { font-family: "Roboto Mono", monospace !important; }
    .mdc-button.btn-dark { background: black; color: white !important; }

    button:disabled.btn-dark { background-color: grey !important; }
}

.body-html {
    font-family: "Roboto Mono", monospace;
    background-color: #fff;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Oswald", sans-serif !important;
    color: #000;
    text-transform: uppercase;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.content { padding-top: 7rem; }

table { width: 100%; }

.form-group { width: 100%; }

.thin-heading {
    font-weight: 300;
    font-size: 40px;
    white-space: nowrap;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}

#form-message-success {
    color: #55A44E;
    font-size: 18px;
}
